core {
  active-bg-color: #333; }

edge {
  curve-style: bezier;
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
  source-arrow-shape: none;
  mid-target-arrow-shape: triangle;
  arrow-scale: 2;
  width: 8;
  text-halign: center;
  text-valign: center;
  text-outline-width: 2;
  color: white; }

edge.parent {
  line-style: dotted;
  width: 8;
  target-arrow-color: #366;
  mid-target-arrow-color: #366;
  line-color: #366;
  text-outline-color: #366; }

edge.file-change {
  line-style: dotted;
  target-arrow-color: #633;
  mid-target-arrow-color: #633;
  line-color: #633;
  text-outline-color: #633; }

edge.io {
  target-arrow-color: #633;
  mid-target-arrow-color: #633;
  line-color: #633;
  text-outline-color: #633; }

edge.comm {
  line-style: dashed;
  target-arrow-color: #633;
  mid-target-arrow-color: #633;
  line-color: #633;
  text-outline-color: #633; }

edge.proc-change {
  line-style: dashed;
  target-arrow-color: #366;
  mid-target-arrow-color: #366;
  line-color: #366;
  text-outline-color: #366; }

edge.proc-metadata {
  line-style: dotted;
  target-arrow-color: #366;
  mid-target-arrow-color: #366;
  line-color: #366;
  text-outline-color: #366; }

node {
  content: data(label);
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
  border-style: solid;
  border-width: 2;
  color: black;
  text-outline-color: #eee;
  text-outline-opacity: 0.9;
  text-outline-width: 6;
  text-halign: center;
  text-valign: bottom;
  text-wrap: wrap;
  text-max-width: 10em;
  height: 4em;
  width: 4em;
  background-fit: contain;
  background-position-x: 0;
  background-position-y: 0; }

node.important {
  overlay-color: orange;
  overlay-padding: 64;
  overlay-opacity: 0.50; }

node:selected {
  overlay-color: #333;
  overlay-padding: 10;
  overlay-opacity: 0.25; }

node.connection {
  shape: rectangle;
  background-image: url(img/connection.png);
  background-color: white;
  color: white;
  text-background-opacity: 0;
  text-outline-color: black;
  text-outline-width: 3; }

node.process {
  shape: ellipse;
  background-color: #333;
  background-image: url(img/proc.png);
  border-color: #333;
  font-family: Inconsolata, Source Code Pro, Consolas, monospace; }

node.file {
  background-color: #dc9;
  background-opacity: 0.25;
  border-color: #633;
  color: #633; }

node.file-version {
  shape: rectangle;
  content: '';
  text-opacity: 0;
  background-image: url(img/file-version.png);
  background-opacity: 0;
  border-width: 0; }

node.machine {
  font-size: 48pt;
  text-valign: top;
  shape: rectangle;
  padding: 4em;
  width: 180px;
  height: 180px;
  background-color: #eee;
  background-image: url(img/cadets-machine.svg);
  background-fit: contain;
  background-opacity: 0;
  border-width: 0;
  color: #0A3A62;
  font-weight: bold;
  text-background-opacity: 0;
  text-outline-color: white;
  text-outline-width: 3; }

node.machine:parent {
  background-image-opacity: 0;
  background-fit: none;
  background-height: 128px;
  background-width: 128px;
  background-opacity: 1;
  border-width: 2;
  min-height: 128px;
  min-width: 128px; }

node.machine.external {
  text-margin-y: 0.25em;
  padding: 1em;
  width: 80px;
  height: 80px;
  background-image: url(img/machine-external.svg);
  background-image-opacity: 1; }

node.pipe {
  content: data(label);
  background-color: #076928;
  background-opacity: 0.25;
  border-color: #076928;
  color: #076928; }

node.pipe-endpoint {
  content: '';
  font-size: 0;
  text-opacity: 0;
  shape: rectangle;
  background-image: url(img/pipe.png);
  background-color: white;
  background-opacity: 0;
  border-width: 0; }

node.sock {
  background-color: #999;
  background-opacity: 0.5;
  border-color: #999;
  border-opacity: 1; }

node.socket-version {
  shape: rectangle;
  background-image: url(img/socket.png);
  background-fit: contain;
  background-opacity: 0;
  border-opacity: 0;
  font-size: 0;
  text-opacity: 0; }
