body{
	color: white;
}
.fill{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
}
.fillHeader{
	background-color: black;
	width: 100%;
	height: 7%;
	position: absolute;
	top: 0%;
	left: 0%;
}
.headerButtons{
	height: 100%;
	position: absolute;
	top: 0%;
	left: 20%;
}
.fillBody{
	width: 100%;
	height: 93%;
	position: absolute;
	top: 7%;
	left: 0%;
}
.hide{
	display: none; 
}
.analysisWorksheet{
	background-color: green;
	width: 31%;
	height: 96%;
	position: absolute;
	top: 2%;
	left: 1%;
}

.worksheet{
	background-color: blue;
	width: 33%;
	height: 96%;
	position: absolute;
	top: 2%;
	left: 33%;
}
.expandedWorksheet{
	background-color: blue;
	width: 64%;
	height: 94%;
	position: absolute;
	top: 2%;
	left: 1%;
}
.worksheetBtns{
	background-color: purple;
	width: 100%;
	height: 10%;
	position: absolute;
	top: 90%;
	left: 0%;
}
.inspector{
	background-color: yellow;
	width: 32%;
	height: 96%;
	position: absolute;
	top: 2%;
	left: 67%;
}
.filter{
	background-color: red;
	width: 100%;
	height: 8%;
	position: absolute;
	top: 92%;
	left: 0%;
}